* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    #2edea4,
    #00c8b5,
    #00b1c0,
    #0098c2,
    #007eb9,
    #0064a5
  );
}

header {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 1em;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #444;
  padding: 1em;
  color: #ffffff;
}
header nav .menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
header nav .menu .list a {
  color: #ffffff;
  text-decoration: none;
}

section {
  padding: 5%;
  width: 70%;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
@media screen  and (max-width:968px){ 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
      #2edea4,
      #00c8b5,
      #00b1c0,
      #0098c2,
      #007eb9,
      #0064a5
    );
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1em;
  }
  
  header nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #444;
    padding: 1em;
    color: #ffffff;
  }
  header nav .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
  }
  header nav .menu .list a {
    color: #ffffff;
    text-decoration: none;
  }
  
  section {
    padding: 5%;
    width: 70%;
    margin: auto;
    min-height: 500px;
    background: #fff;
  }
  
}
@media screen  and (max-width:375px){ 
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    #2edea4,
    #00c8b5,
    #00b1c0,
    #0098c2,
    #007eb9,
    #0064a5
  );
}

header {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 4%;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #444;
  padding: 1em;
  color: #ffffff;
}
header nav .menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
header nav .menu .list a {
  color: #ffffff;
  text-decoration: none;
}

section {
  padding:5%;
  width: 90%;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
  section img {
    align-items: center;
    width: 300px;
    height: 200px ;
  }
}